#mobile_wrap {
    background-color:#85F095;
    width:440px; height:956px;
    text-align:center;
}
#mobile_wrap img {
    margin-top:105px;
    margin-bottom:46px;
}
#mobile_wrap a {
    background-color:#fff; color:#000;
    width:169px; height:62px;
    /* a 태그에 가로세로 크기 입력 시 적용이 안되는 이유는 a가 인라인요소기 때문! */
    /* (위)해결법 : a태그를 CSS 속성을 이용하여 크기를 인식하는 block으로 변경 */
    display:inline-block;
    line-height:62px;
    font-family:pretendard, sans-serif;
    font-weight:400;
    font-size:1rem;
    letter-spacing:-0.02em;
    border-radius:40px;
}